.contact {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  padding-top: 14vh;
  padding-bottom: 1rem;
  align-items: center;
  text-align: center;
  background-size: cover;

  &__phone {
    justify-content: center;
    font-weight: 700;
    margin: 1rem;
    font-size: large;

    &::before {
      content: "Phone:";
      margin-right: 0.5rem;
    }
  }

  &__fax {
    justify-content: center;
    font-weight: 700;
    margin: 1rem;

    &::before {
      content: "Fax:";
      margin-right: 0.5rem;
    }
  }

  &__email {
    justify-content: center;
    font-weight: 600;
    margin: 1rem auto;
  }
}
