@import 'config';
@import 'home';


body {
    background: $primary-color;
    color: $text-main-color;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    font-weight: 500;
}

a {
    color: $text-main-color;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue-info {
    padding: 24px 0;
    background: $accent-color;
    color: $text-secondary-color;
    text-align: center;

    #{&}__title {
        line-height: 1.2em;
        letter-spacing: 1px;
        margin: 0px 24px 24px 24px;
    }

    #{&}__line-break {
        background: $text-secondary-color;
        height: 1px;
        margin: 0px 24px 24px 24px;
    }

    #{&}__body {
        margin: 24px 24px 0px 24px;
    }
}

.line-break {
    background: $text-main-color;
    height: 1px;
    margin: 0 24px 24px 24px;
    max-width: 100%;
}

.copyright {
    width: 100%;
    position: fixed;
    bottom: .4rem;
    padding: 1rem;

    #{&}__text {
        text-align: center;
        font-size: 0.9em;
        margin: 0 auto;
    }

    #{&}__text--sm {
        text-align: center;
        font-size: .8em;
        margin: 0 auto;
    }
}
