@import "config";
@import "home";
@import "menu";
@import "infoblob";
@import "quote";
@import "contact";
@import "about";
@import "button";
@import "testimonials";

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

.line-break {
  background: set-text-color($primary-color);
  height: 1px;
  margin: 1.5rem;
  max-width: 100%;
}

.copyright {
  position: relative;
  width: 100vw;
  bottom: 0;

  &__text {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }

  &__text--sm {
    text-align: center;
    font-size: 12px;
    margin: 0;
  }
}

.test {
  max-width: 100%;
  height: auto;
}

footer {
  position: relative;
  bottom: 0.4rem;
  padding-bottom: 1rem;
  color: set-text-color($primary-color);
}


